@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.ql-container {
	font-family: 'Times New Roman', Times, serif;
	font-size: 11pt;
	padding: 5px;
	min-width: 215mm;
	width: 215mm;
}

.qeditor {
	margin: 0 auto;
	padding: 0;
	width: 216mm;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.qeditor>div:nth-child(2) {
	display: none;
}

.ql-editor {
	width: 210mm;
	min-height: 297mm;
	line-height: 1.5;
	background: rgb(var(--background-end-rgb));
	padding: 24mm 16mm 16mm 16mm;
}

.ql-toolbar {
	border: none !important;
	border-bottom: 1px solid #ccc !important;
	position: sticky;
	top: 0;
	background-color: rgb(var(--background-end-rgb));
	z-index: 1;
	min-width: 215mm;
	width: 215mm;
}

.cstomBtn {
	display: flex;
	max-width: 8rem;
	gap: 1.5rem;
	padding-right: 1rem;
}


.ttl-field {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	& input {
		padding: .2rem;
	}
}
